<%= form_with model: [:admin, product], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_price, "Price", class: "form-label" %>
    <%= f.number_field :current_price, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :stock_quantity, "Stock Quantity", class: "form-label" %>
    <%= f.number_field :stock_quantity, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
